body {
    font-family: Arial, sans-serif;
    background: #9b72cf;
    color: white;
    text-align: center;
    padding: 20px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: #ddd;
    margin-bottom: 20px;
}

.progress {
    width: 50%;
    height: 5px;
    background: white;
}

.container, .registration-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    color: black;
    width: 90%;
    max-width: 350px;
    margin: auto;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.option img {
    width: 30px;
    height: 20px;
    border-radius: 3px;
}

.option input {
    position: absolute;
    right: 10px;
    opacity: 0;
    cursor: pointer;
}

.option::after {
    content: "○";
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: gray;
}

.option.selected::after {
    content: "●";
    color: #936dba;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #936dba;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #936dba;
}
